/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/

body {
    overflow: none;
    background-color: black;
}

#prompt {
    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    font-size: 4em;
    font-weight: 800;
    padding-left: 10vw;
    padding-top: 10vw;
    width: 80vw;
}

#number {
    font-weight: 800;
}